include pyproject.toml
include README.md
include LICENSE

recursive-include astrocrawl/rules *.json
recursive-include astrocrawl/rules *.txt
recursive-include astrocrawl/browser *.js
recursive-include astrocrawl/gui/translations *.qm
recursive-include astrocrawl/gui/translations *.ts
recursive-include astrocrawl/_assets *

prune tests
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.egg-info
